/* General */
:root {
    --rojo: #8b0000; 
    --negro: #232323;
    --blanco: #f2f2f2;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--blanco);
    font-family: 'Lato', sans-serif;
    color: var(--negro);
}

/* HEADER */
.header {
    border-bottom: 1px solid #8b0000;
}

.navbar-brand {
    height: 100px;
}

.logoImg{
    height: 100%
}

.navbar-light .navbar-nav .nav-link  {
    color: var(--rojo);
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover {
    background-color:  var(--rojo); 
    color: var(--blanco);
}

.navbar-light .navbar-nav .nav-link:hover {
    transition: all 0.3s ease-in-out;
}

/* MAIN */


.titulo {
    color:var(--rojo);
    text-transform: uppercase;
}
.subtitulo{
    color:var(--rojo);
}

.texto a {
    color: #8b0000;
    text-decoration: none;
    text-transform: uppercase;
}

.intro{
    border-bottom: 1px solid #8b0000;
}


/* FOOTER */
.footer {
    background-color: var(--negro);
    color: var(--blanco);
    text-align: center;
    font-size: 0.75rem;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer .container p {margin-bottom: 0;}
