/* General */
$rojo:#8b0000;
$negro: #232323;
$blanco: #f2f2f2;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $blanco;
    font-family: 'Lato', sans-serif;
    color: $negro;
}

/* HEADER */
.header,
.intro,
.articulo {
    border-bottom: 1px solid $rojo;
}

.navbar-brand {
    height: 100px;
}

.logoImg{
    height: 100%
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: $rojo;
            text-transform: uppercase;
            padding: 10px;
        }
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link.active{
            background-color:  $rojo; 
            color: $blanco;
        }
        .nav-link{
            &:hover {
                background-color:  $rojo; 
                color: $blanco;
            }
        }
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link:hover {
            transition: all 0.3s ease-in-out;
        }
    }

}

/* Cambiando el boton hamburgesa */

.menuHamburgesa {
    color: $rojo;
}

.navbar-light {
    .navbar-toggler{
        border-color: rgba(0, 0, 0, 0)
    }
}

/* MAIN */
.titulo,
.subtitulo {
    color:$rojo;
    font-weight: 700;
    
}
.titulo{
    text-transform: uppercase;
}
.texto {
    a {
        color: #8b0000;
        text-decoration: none;
        text-transform: uppercase;
    }
}

/* Tutorial */
.tutorial {
    border-bottom: 1px solid $rojo;
    padding: 10px;
    margin-bottom: 50px;
}

/* Donde jugar */
.logoClub{
    img {
        width: 100%;
        max-width: 200px;
        border-radius: 100%;
    } 
}

/* Contacto */

textarea {
    resize: none;
}

/* FOOTER */
.footer {
    background-color: $negro;
    color: $blanco;
    text-align: center;
    font-size: 0.75rem;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;

    .container {
        p {
            margin-bottom: 0;
        }
    }
}

