/* MAIN */

.mainContent{
    max-width: 1800px;
}

.intro,
.articulo {
    border-bottom: $border;
}

.subtitulo {
    color:$rojo;
    font-weight: 700;
    
}
.titulo{
    text-transform: uppercase;
    @extend .subtitulo;
}

.texto {
    a {
        color: #8b0000;
        text-decoration: none;
        text-transform: uppercase;
    }
}

/* Inicio */
.box {
    width: $widthStandard / 3;
    padding: 10px;
    img {
        border-radius: 100%;
        max-width: 100%;
    }
}


/* Tutorial */
.tutorial {
    border-bottom: $border;
    padding: 10px;
    margin-bottom: 50px;
}

/* Donde jugar */
.logoClub{
    img {
        width: 100%;
        max-width: 200px;
        border-radius: 100%;
    } 
}

/* Contacto */

textarea {
    resize: none;
}

.mensajeError {
    color: red;
    display: none;
}

/*Tienda*/

.cantProducts {
    width: 20%;
}
.badge{
    background-color: $blanco;
    color: $rojo;
}