.boton {
    background: rgba($color: $rojo, $alpha: 1);
    color: $blanco;
    &:hover {
        background: rgba($color: $rojo, $alpha: 0.8);
        color: $blanco;
    }
}
.botonSecundario {
    background: rgba($color: $blanco, $alpha: 1);
    color: $rojo;
    &:hover {
        background: rgba($color: $rojo, $alpha: 0.8);
        color: $blanco;
    }
}

.btnControladorMenos,
.btnControladorMas{
    display: inline-block;
    margin: 0 10px;
    padding: 0 9px;
    border-radius: 100%;
}

.btnControladorEliminar{
    margin-right: 10px;
}

.btnControladorMenos {
    background-color: $rojo;
    color: $blanco;
}